/* #reset-button,
#equal-button,
#survive-button,
#thrive-button */
#distributions-button {
    width: 70px;
    height: 30px;
}

/* #reset-button span,
#equal-button span,
#survive-button span,
#thrive-button span {
    width: 13px;
    height: 13px;
    font-size: 13px
} */

#distributions-button svg {
    width: 25px;
    height: 25px;
    enable-background: 'new 0 0 26.676 26.676'
}