#reset-button,
#equal-button,
#survive-button,
#thrive-button {
    width: 100px;
    height: 50px;
}

#reset-button span,
#equal-button span,
#survive-button span,
#thrive-button span {
    width: 25px;
    height: 25px;
    font-size: 25px
}